html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#wrap {
    max-width: 100%;
    width: 640px;
    margin: 0 auto;
}

button {
    border: 0;
    margin: 0;
}

.info .label {
    min-width: 90px;
}

.info span {
    padding-left: 10px;
}